
@media screen and (max-width:576px){
    .head{
        >div{
            background-image: url('../../img/about-img1.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            >div{
              >div{
                &:first-child{
                
                 >div{
                    padding: 30px 0 0 0;
                    >div{
                        &:nth-of-type(1){   
                            >p{
                                font-family: "Poppins", Sans-serif;
                                font-size: 20px;
                                letter-spacing: 8.8px;
                                &:nth-child(1){
                                    color: #ffffff;
                                }
                                &:nth-child(2){
                                    color: #67e0e1;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            display: flex;
                            justify-content: flex-end;
                          
                            >span{
                              margin-right: 10px;
                                color: #67e0e1;
                                transform: rotate(90deg);
                                font-weight: 900;
                               font-size: 30px;
                               cursor: pointer;
                               transition: 0.4s;
                               &:hover{
                                color: #ffffff;
                               }
                            }  
                            >div{
                                height: 100vh;
                                width: 30%;
                                background-color: rgb(25, 25, 25);
                                padding: 0;
                                margin: 0;
                                position: absolute;
                                position: fixed;
                                top: 0;
                                right: -30%;
                                transition: 0.4s;
                                >div{
                                    width: 100%;
                                    display: flex;
                                   justify-content: center;
                                   &:nth-of-type(1){
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                 
                                    padding: 10px 0 10px 0;
                                    >div{
                                        width: 80%;
                                        display: flex;
                                        justify-content: flex-end;
                                        >span{
                                            font-weight: 900;
                                            font-size: 14px;
                                            color: #898989;
                                            font-weight: 900;
                                            cursor: pointer;
                                            transition: 0.4s;
                                            &:hover{
                                                color: #ffffff;
                                            }
                                            }
                                    }
                                 
                                   }
                                    &:nth-of-type(2){
                                        display: flex;
                                        justify-content: center;
                                        // padding: 50px 0 0 60px;
                                        >div{
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 40%;
                                            // border: 2px solid red;
                                            margin: 0px;
                                        
                                            >figure{
                                               width: 100%;
                                               height: 100%;
                                               display: flex;
                                               align-items: center;
                                               >img{
                                                width: 100%;
                                                // filter: grayscale(100%);
                                               }
                                            }
                                        }
                                    }
                                    &:nth-of-type(3){
                                
                                       width: 100%;
                                        >div{
                                            width: 100%;
                                    
                                            display: flex;
                                            justify-content: flex-start;
                                            padding: 10px 0 0 0px;
                                           >nav{
                                            width: 100%;
                                            // padding-left: 100px;
                                        
                                            >ul{
                                                width: 100%;
                                        
                                                padding-left: 0;
                                                >li{
                                                    width: 100%;
                                                
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    padding: 10px 0 10px 0;
                                                   padding-left: 0%;
                                                    >a{
                                                    hyphens: manual;   
                                                    transition: 0.4s;
                                                    width: 100%;
                                                    font-family: "Playfair Display", Sans-serif;
                                                    font-size:8px;
                                                    font-weight: 700;
                                                    text-transform: uppercase;
                                                    letter-spacing: 4px;
                                                    align-self: center;
                                                    text-align: center;
                                                    color: #ffffff;
                                                    cursor: pointer;
                                                    &:hover{
                                                        color: #67e0e1;
                                                    }
                                                    }
                                                }
                                            }
                                           }
                                        }
                                        
                                    }
                                }
                            }                 
                        }
                    }
                 }
                }
              
              }
              
            }
        }
    } 
    .prefooter{
        >div{
            >div{
                &:nth-of-type(2){
                    >div{
                        >div{
                            &:nth-of-type(1){
                                >button{
                                    width: 70px;
                                    height: 70px;
                                    >span{
                                        font-size: 10px;
                                        letter-spacing: 4.8px;

                                    }
                                }
                            }
                            &:nth-of-type(2){
                                >div{
                                    &:nth-of-type(1){
                                        >span{
                                            >h2{
                                                font-size: 10px;
                                                letter-spacing: 3px;
                                            }
                                        }
                                    }
                                    &:nth-of-type(2){
                                        >p{
                                            line-height: 9.5px;
                                            font-size: 7px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width:576px){
    .head{
        >div{
            background-image: url('../../img/about-img1.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            >div{
              >div{
                &:first-child{
                
                 >div{
                    padding: 30px 0 0 0;
                    >div{
                        &:nth-of-type(1){   
                            >p{
                                font-family: "Poppins", Sans-serif;
                                font-size: 20px;
                                letter-spacing: 8.8px;
                                &:nth-child(1){
                                    color: #ffffff;
                                }
                                &:nth-child(2){
                                    color: #67e0e1;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            display: flex;
                            justify-content: flex-end;
                          
                            >span{
                              
                                color: #67e0e1;
                                transform: rotate(90deg);
                                font-weight: 900;
                               font-size: 30px;
                               cursor: pointer;
                               transition: 0.4s;
                               &:hover{
                                color: #ffffff;
                               }
                            }  
                            >div{
                                height: 100vh;
                                width: 30%;
                                background-color: rgb(25, 25, 25);
                                padding: 0;
                                margin: 0;
                                position: absolute;
                                position: fixed;
                                top: 0;
                                right: -30%;
                                transition: 0.4s;
                                >div{
                                    width: 100%;
                                    display: flex;
                                   justify-content: center;
                                   &:nth-of-type(1){
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                 
                                    padding: 10px 0 50px 0;
                                    >div{
                                        width: 80%;
                                        display: flex;
                                        justify-content: flex-end;
                                        >span{
                                            font-weight: 900;
                                            font-size: 26px;
                                            color: #898989;
                                            font-weight: 900;
                                            cursor: pointer;
                                            transition: 0.4s;
                                            &:hover{
                                                color: #ffffff;
                                            }
                                            }
                                    }
                                 
                                   }
                                    &:nth-of-type(2){
                                        display: flex;
                                        justify-content: center;
                                        // padding: 50px 0 0 60px;
                                        >div{
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 40%;
                                            // border: 2px solid red;
                                            margin: 0px;
                                        
                                            >figure{
                                               width: 100%;
                                               height: 100%;
                                               display: flex;
                                               align-items: center;
                                               >img{
                                                width: 100%;
                                                // filter: grayscale(100%);
                                               }
                                            }
                                        }
                                    }
                                    &:nth-of-type(3){
                                
                                       width: 100%;
                                        >div{
                                            width: 100%;
                                    
                                            display: flex;
                                            justify-content: flex-start;
                                            padding: 50px 0 0 0px;
                                           >nav{
                                            width: 100%;
                                            // padding-left: 100px;
                                        
                                            >ul{
                                                width: 100%;
                                        
                                                padding-left: 0;
                                                >li{
                                                    width: 100%;
                                                
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    padding: 10px 0 10px 0;
                                                   padding-left: 0%;
                                                    >a{
                                                    hyphens: manual;   
                                                    transition: 0.4s;
                                                    width: 100%;
                                                    font-family: "Playfair Display", Sans-serif;
                                                    font-size: 15px;
                                                    font-weight: 700;
                                                    text-transform: uppercase;
                                                    letter-spacing: 11px;
                                                    align-self: center;
                                                    text-align: center;
                                                    color: #ffffff;
                                                    cursor: pointer;
                                                    &:hover{
                                                        color: #67e0e1;
                                                    }
                                                    }
                                                }
                                            }
                                           }
                                        }
                                        
                                    }
                                }
                            }                 
                        }
                    }
                 }
                }
              
              }
              
            }
        }
    } 
    .prefooter{
        >div{
            >div{
                &:nth-of-type(2){
                    >div{
                        >div{
                            &:nth-of-type(1){
                                >button{
                                    width: 120px;
                                    height: 120px;
                                    >span{
                                        font-size: 24px;
                                        letter-spacing: 9.8px;

                                    }
                                }
                            }
                            &:nth-of-type(2){
                                >div{
                                    &:nth-of-type(1){
                                        >span{
                                            >h2{
                                                font-size: 20px;
                                                letter-spacing: 7.2px;
                                            }
                                        }
                                    }
                                    &:nth-of-type(2){
                                        >p{
                                            line-height: 2.2em;
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
}
@media screen and (min-width:768px){
    .subhead{
        background-image: url('../../img/Pazhohan-events-img02med.png');
        // filter: grayscale(100%);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -50px;
      
    }
    .head{
        >div{
            background-image: url('../../img/about-img1.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            >div{
              >div{
                &:first-child{
                
                 >div{
                    padding: 30px 0 0 0;
                    >div{
                        &:nth-of-type(1){   
                            >p{
                                font-family: "Poppins", Sans-serif;
                                font-size: 20px;
                                letter-spacing: 8.8px;
                                &:nth-child(1){
                                    color: #ffffff;
                                }
                                &:nth-child(2){
                                    color: #67e0e1;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            display: flex;
                            justify-content: flex-end;
                          
                            >span{
                              
                                color: #67e0e1;
                                transform: rotate(90deg);
                                font-weight: 900;
                               font-size: 30px;
                               cursor: pointer;
                               transition: 0.4s;
                               &:hover{
                                color: #ffffff;
                               }
                            }  
                            >div{
                                height: 100vh;
                                width: 30%;
                                background-color: rgb(25, 25, 25);
                                padding: 0;
                                margin: 0;
                                position: absolute;
                                position: fixed;
                                top: 0;
                                right: -30%;
                                transition: 0.4s;
                                >div{
                                    width: 100%;
                                    display: flex;
                                   justify-content: center;
                                   &:nth-of-type(1){
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                 
                                    padding: 10px 0 50px 0;
                                    >div{
                                        width: 80%;
                                        display: flex;
                                        justify-content: flex-end;
                                        >span{
                                            font-weight: 900;
                                            font-size: 26px;
                                            color: #898989;
                                            font-weight: 900;
                                            cursor: pointer;
                                            transition: 0.4s;
                                            &:hover{
                                                color: #ffffff;
                                            }
                                            }
                                    }
                                 
                                   }
                                    &:nth-of-type(2){
                                        display: flex;
                                        justify-content: center;
                                        // padding: 50px 0 0 60px;
                                        >div{
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 40%;
                                            // border: 2px solid red;
                                            margin: 0px;
                                        
                                            >figure{
                                               width: 100%;
                                               height: 100%;
                                               display: flex;
                                               align-items: center;
                                               >img{
                                                width: 100%;
                                                // filter: grayscale(100%);
                                               }
                                            }
                                        }
                                    }
                                    &:nth-of-type(3){
                                
                                       width: 100%;
                                        >div{
                                            width: 100%;
                                    
                                            display: flex;
                                            justify-content: flex-start;
                                            padding: 50px 0 0 0px;
                                           >nav{
                                            width: 100%;
                                            // padding-left: 100px;
                                        
                                            >ul{
                                                width: 100%;
                                        
                                                padding-left: 0;
                                                >li{
                                                    width: 100%;
                                                
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    padding: 10px 0 10px 0;
                                                   padding-left: 0%;
                                                    >a{
                                                    hyphens: manual;   
                                                    transition: 0.4s;
                                                    width: 100%;
                                                    font-family: "Playfair Display", Sans-serif;
                                                    font-size: 20px;
                                                    font-weight: 700;
                                                    text-transform: uppercase;
                                                    letter-spacing: 11px;
                                                    align-self: center;
                                                    text-align: center;
                                                    color: #ffffff;
                                                    cursor: pointer;
                                                    &:hover{
                                                        color: #67e0e1;
                                                    }
                                                    }
                                                }
                                            }
                                           }
                                        }
                                        
                                    }
                                }
                            }                 
                        }
                    }
                 }
                }
              
              }
              
            }
        }
    } 
}
@media screen and (min-width:992px){
    .subhead{
        background-image: url('../../img/Pazhohan-events-img2lg.png');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -50px;
      
    }
    .head{
        >div{
            background-image: url('../../img/about-img1.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            >div{
              >div{
                &:first-child{
                
                 >div{
                    padding: 30px 0 0 0;
                    >div{
                        &:nth-of-type(1){   
                            >p{
                                font-family: "Poppins", Sans-serif;
                                font-size: 20px;
                                letter-spacing: 8.8px;
                                &:nth-child(1){
                                    color: #ffffff;
                                }
                                &:nth-child(2){
                                    color: #67e0e1;
                                }
                            }
                        }
                        &:nth-of-type(2){
                            display: flex;
                            justify-content: flex-end;
                          
                            >span{
                              
                                color: #67e0e1;
                                transform: rotate(90deg);
                                font-weight: 900;
                               font-size: 30px;
                               cursor: pointer;
                               transition: 0.4s;
                               &:hover{
                                color: #ffffff;
                               }
                            }  
                            >div{
                                height: 100vh;
                                width: 30%;
                                background-color: rgb(25, 25, 25);
                                padding: 0;
                                margin: 0;
                                position: absolute;
                                position: fixed;
                                top: 0;
                                right: -30%;
                                transition: 0.4s;
                                >div{
                                    width: 100%;
                                    display: flex;
                                   justify-content: center;
                                   &:nth-of-type(1){
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                 
                                    padding: 10px 0 50px 0;
                                    >div{
                                        width: 80%;
                                        display: flex;
                                        justify-content: flex-end;
                                        >span{
                                            font-weight: 900;
                                            font-size: 26px;
                                            color: #898989;
                                            font-weight: 900;
                                            cursor: pointer;
                                            transition: 0.4s;
                                            &:hover{
                                                color: #ffffff;
                                            }
                                            }
                                    }
                                 
                                   }
                                    &:nth-of-type(2){
                                        display: flex;
                                        justify-content: center;
                                        // padding: 50px 0 0 60px;
                                        >div{
                                            display: flex;
                                            justify-content: flex-start;
                                            width: 40%;
                                            // border: 2px solid red;
                                            margin: 0px;
                                        
                                            >figure{
                                               width: 100%;
                                               height: 100%;
                                               display: flex;
                                               align-items: center;
                                               >img{
                                                width: 100%;
                                                // filter: grayscale(100%);
                                               }
                                            }
                                        }
                                    }
                                    &:nth-of-type(3){
                                
                                       width: 100%;
                                        >div{
                                            width: 100%;
                                    
                                            display: flex;
                                            justify-content: flex-start;
                                            padding: 50px 0 0 0px;
                                           >nav{
                                            width: 100%;
                                            // padding-left: 100px;
                                        
                                            >ul{
                                                width: 100%;
                                        
                                                padding-left: 0;
                                                >li{
                                                    width: 100%;
                                                
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    padding: 10px 0 10px 0;
                                                   padding-left: 0%;
                                                    >a{
                                                    hyphens: manual;   
                                                    transition: 0.4s;
                                                    width: 100%;
                                                    font-family: "Playfair Display", Sans-serif;
                                                    font-size: 30px;
                                                    font-weight: 700;
                                                    text-transform: uppercase;
                                                    letter-spacing: 11px;
                                                    align-self: center;
                                                    text-align: center;
                                                    color: #ffffff;
                                                    cursor: pointer;
                                                    &:hover{
                                                        color: #67e0e1;
                                                    }
                                                    }
                                                }
                                            }
                                           }
                                        }
                                        
                                    }
                                }
                            }                 
                        }
                    }
                 }
                }
              
              }
              
            }
        }
    } 
    }
   
    

// End tablet scope....

@media screen and (min-width:1200px){
    .subhead{
        background-image: url('../../img/Pazhohan-events-img2xxl.png');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -50px;
      
    }
    }

// End Desktop scope....

@media screen and (min-width:1400px){
    
}