
@media screen and (max-width:576px){
    // .five{
    //     >div{
    //         >section{
    //             width: 100%;
    //         }
    //     }
    // }

    // .six{
    //     >div{
    //         &:last-child{
    //             margin-top: 50px;  
    //             >div{    
    //                 &:nth-of-type(1){
    //                     padding-left: 20px;
    //                 }     
    //                 &:nth-of-type(2){
    //                     padding-top: 30px;
    //                     display: flex;
    //                     justify-content: center;
    //                     flex-wrap: wrap;
    //                     >div{
    //                         width: 90%;
    //                         display: flex;
    //                         justify-content: center;
    //                         align-items: center;
    //                         &:first-child{
    //                             >p{
                                   
    //                                 align-self: center;
    //                                 text-align: center;
                                  
    //                             }
    //                         }
    //                         &:last-child{
    //                             display: flex;
    //                             justify-content: center;
    //                             align-items: center;
    //                             flex-wrap: wrap;
    //                             >span{ 
    //                                 display: flex;
    //                                 justify-content: center; 
    //                                 width: 100%;
    //                             }
    //                             >div{
    //                                 width: 50%;
    //                                 flex-wrap: wrap;
    //                                 display: flex;
    //                                 justify-content: center;
    //                                 align-items: center;
                                   
    //                             }
                              
    //                         }
    //                     }
    //                 }
    //             }
               
    //         }
    //     }
    // }
    header{
        width: 100%;
        height: 803px;
        background-color: #111111;
        background-image: none;
      
    
    }
   
    .three{
        >div{
           
            &:first-child{
                justify-content: center; 
                 margin-bottom: -30px;
                 margin-top: 50px;
            }
       
           
        }
    }
    .imgone{
        >div{
            >h1{
                font-size: 130px!important;
            }
        }
    }
    .four{
        >div{
            display: flex;
            justify-content: center;
            >figure{
            padding: 20px 0px 0px 0px;
            &::after{
                top: 50%;
                left: 50%;
            }
            &:hover::after{
                height: 66.5%;
                width: 100%;
                left: 0%;
                top: 2%;
            }
                >img{
                    width: 100%;
                }
            }
        }
    }
    .six{
        >div{
            &:last-child{
                margin-top: 50px;  
                >div{    
                    &:nth-of-type(1){
                        padding-left: 20px;
                    }     
                    &:nth-of-type(2){
                        padding-top: 30px;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        >div{
                            width: 90%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:first-child{
                                >p{
                                   
                                    align-self: center;
                                    text-align: center;
                                  
                                }
                            }
                            &:last-child{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: wrap;
                                >span{ 
                                    display: flex;
                                    justify-content: center; 
                                    width: 100%;
                                }
                                >div{
                                    width: 50%;
                                    flex-wrap: wrap;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                   
                                }
                              
                            }
                        }
                    }
                }
               
            }
        }
    }
    .eight{
        >div{
            &:first-child{
                >div{
                    padding-right: 30px;
                }
            }
        }
    }
    .menu{
        >div{
         
            >div{
                padding: 30px 0 0 0;
                >div{
                    &:nth-of-type(1){  
                  
                    }
                    &:nth-of-type(2){
                        display: flex;
                        justify-content: flex-end;
                     
                      
                        >span{
                          
                            color: #67e0e1;
                            transform: rotate(90deg);
                            font-weight: 900;
                           font-size: 30px;
                           cursor: pointer;
                           transition: 0.4s;
                           &:hover{
                            color: #ffffff;
                           }
                        }  
                        >div{
                          
                            height: 100vh;
                            width: 30%;
                            background-color: #111111;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            position: fixed;
                            top: 0;
                            right:-30%;
                            transition: 0.4s;
                            >div{
                                width: 100%;
                                display: flex;
                               justify-content: center;
                               &:nth-of-type(1){
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                padding: 10px 0 10px 0;
                                >div{
                                    width: 80%;
                                    display: flex;
                                    justify-content: flex-end;
                                    >span{
                                        font-weight: 900;
                                        font-size: 14px;
                                        color: #898989;
                                        font-weight: 900;
                                        cursor: pointer;
                                        transition: 0.4s;
                                        &:hover{
                                            color: #ffffff;
                                        }
                                        }
                                }
                             
                               }
                                &:nth-of-type(2){
                                    display: flex;
                                    justify-content: center;
                                    >div{
                                        display: flex;
                                        justify-content: flex-start;
                                        width: 40%;
                                        margin: 0px;
                                    
                                        >figure{
                                           width: 100%;
                                           height: 100%;
                                           display: flex;
                                           align-items: center;
                                           >img{
                                            width: 100%;
                                           }
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                            
                                   width: 100%;
                                    >div{
                                        width: 100%;
                                        display: flex;
                                        justify-content: flex-start;
                                        padding: 10px 0 0 0px;
                                       >nav{
                                        width: 100%;
                                   
                                    
                                        >ul{
                                            width: 100%;
                                    
                                            padding-left: 0;
                                            >li{
                                                width: 100%;
                                            
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding: 10px 0 10px 0;
                                               padding-left: 0%;
                                                >a{
                                                hyphens: manual;   
                                                transition: 0.4s;
                                                width: 100%;
                                                font-family: "Playfair Display", Sans-serif;
                                                font-size: 7px;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                letter-spacing: 4px;
                                                align-self: center;
                                                text-align: center;
                                                color: #ffffff;
                                                cursor: pointer;
                                                &:hover{
                                                    color: #67e0e1;
                                                }
                                                }
                                            }
                                        }
                                       }
                                    }
                                    
                                }
                            }
                        }                 
                    }
                }
             }
        }
      
           
    }  
    
   .one{
    >div{
        &:nth-of-type(2){
            >div{
                >h4{
                    font-size: 18px;
                }
            }
        }
    }
   }
}
@media screen and (min-width:576px){
    header{
        width: 100%;
        height: 803px;
        background-color: #111111;
        background-image: none;
      
    
    }
   
    .three{
        >div{
           
            &:first-child{
                justify-content: center; 
                 margin-bottom: -30px;
                 margin-top: 50px;
            }
       
           
        }
    }
    .imgone{
        >div{
            >h1{
                font-size: 130px!important;
            }
        }
    }
    .four{
        >div{
            display: flex;
            justify-content: center;
            >figure{
            padding: 20px 0px 0px 0px;
            &::after{
                top: 50%;
                left: 50%;
            }
            &:hover::after{
                height: 66.5%;
                width: 100%;
                left: 0%;
                top: 2%;
            }
                >img{
                    width: 100%;
                }
            }
        }
    }
    .six{
        >div{
            &:last-child{
                margin-top: 50px;  
                >div{    
                    &:nth-of-type(1){
                        padding-left: 20px;
                    }     
                    &:nth-of-type(2){
                        padding-top: 30px;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        >div{
                            width: 90%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:first-child{
                                >p{
                                   
                                    align-self: center;
                                    text-align: center;
                                  
                                }
                            }
                            &:last-child{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-wrap: wrap;
                                >span{ 
                                    display: flex;
                                    justify-content: center; 
                                    width: 100%;
                                }
                                >div{
                                    width: 50%;
                                    flex-wrap: wrap;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                   
                                }
                              
                            }
                        }
                    }
                }
               
            }
        }
    }
    .eight{
        >div{
            &:first-child{
                >div{
                    padding-right: 30px;
                }
            }
        }
    }
    .menu{
        >div{
         
            >div{
                padding: 30px 0 0 0;
                >div{
                    &:nth-of-type(1){  
                  
                    }
                    &:nth-of-type(2){
                        display: flex;
                        justify-content: flex-end;
                     
                      
                        >span{
                          
                            color: #67e0e1;
                            transform: rotate(90deg);
                            font-weight: 900;
                           font-size: 30px;
                           cursor: pointer;
                           transition: 0.4s;
                           &:hover{
                            color: #ffffff;
                           }
                        }  
                        >div{
                          
                            height: 100vh;
                            width: 30%;
                            background-color: #111111;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            position: fixed;
                            top: 0;
                            right:-30%;
                            transition: 0.4s;
                            >div{
                                width: 100%;
                                display: flex;
                               justify-content: center;
                              
                               &:nth-of-type(1){
                                width: 100%;
                                display: flex;
                                justify-content: center;
                             
                                padding: 50px 0 50px 0;
                                >div{
                                    width: 80%;
                                    display: flex;
                                    justify-content: flex-end;
                                    >span{
                                        font-weight: 900;
                                        font-size: 26px;
                                        color: #898989;
                                        font-weight: 900;
                                        cursor: pointer;
                                        transition: 0.4s;
                                        &:hover{
                                            color: #ffffff;
                                        }
                                        }
                                }
                             
                               }
                                &:nth-of-type(2){
                                    display: flex;
                                    justify-content: center;
                                  
                                    // padding: 50px 0 0 60px;
                                    >div{
                                        display: flex;
                                        justify-content: flex-start;
                                        width: 40%;
                                        margin: 0px;
                                    
                                        >figure{
                                           width: 100%;
                                           height: 100%;
                                           display: flex;
                                           align-items: center;
                                           >img{
                                            width: 100%;
                                           }
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                            
                                   width: 100%;
                                    >div{
                                        width: 100%;
                                
                                        display: flex;
                                        justify-content: flex-start;
                                        padding: 50px 0 0 0px;
                                       >nav{
                                        width: 100%;
                                   
                                    
                                        >ul{
                                            width: 100%;
                                    
                                            padding-left: 0;
                                            >li{
                                                width: 100%;
                                            
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding: 10px 0 10px 0;
                                               padding-left: 0%;
                                                >a{
                                                hyphens: manual;   
                                                transition: 0.4s;
                                                width: 100%;
                                                font-family: "Playfair Display", Sans-serif;
                                                font-size: 15px;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                letter-spacing: 11px;
                                                align-self: center;
                                                text-align: center;
                                                color: #ffffff;
                                                cursor: pointer;
                                                &:hover{
                                                    color: #67e0e1;
                                                }
                                                }
                                            }
                                        }
                                       }
                                    }
                                    
                                }
                            }
                        }                 
                    }
                }
             }
        }
      
           
    }   
    .one{
        >div{
            &:nth-of-type(2){
                >div{
                    >h4{
                        font-size: 36px;
                    }
                }
            }
        }
       }
}
@media screen and (min-width:768px){
    header{
       
        background-image: url('../img/janecore.jpeg'); 
        background-color: #000000;;
    }
  
    
    .one{
        >div{
            &:first-child{
                display: flex;
                justify-content: flex-end !important;
            }
            &:last-child{
                padding-left: 0;
                margin-top: 12%;
            }
        } 
    }
    .two{
        >div{
            &:first-child{
                display: flex;
                justify-content: flex-end !important;
               
            }
            &:last-child{
                margin-top: -80px;
                margin-left: -10px;
            }
        }
    }
    .three{
        >div{
            &:first-child{
                justify-content: flex-end; 
                margin-top: 0px;
                margin-bottom: 0px;
            }
       
           
        }
    }
    .logo{
        >p{
            margin-top: -30px;
        }
    }
    .imgone{
        >div{
            >h1{
                font-size: 130px!important;
            }
        }
    }
    .three{
        >div{
            &:first-child{
                margin-top: 50px;
                >p{
                    &:first-child{
                        margin-bottom: -95px;
                    }
                }
                >span{
                    &:nth-of-type(1){
                        margin-top: -93px;
                    }
                    &:nth-of-type(2){
                        margin-top: -95px;
                        margin-left: -40px;
                    }
                  
                }
            }
        }
    }
    .four{
        >div{
            >figure{
                padding: 0px 15px 15px 15px;
                &::after{
                    top: 15%;
                    
                }
                &:hover:after{
                    height: 38%;
                    width: 92%;
                    left: 2%;
                    right: 2%;
                    top: 0%;
                }
               
            }
           
        }
    }
    .five{
        >div{
            >section{
                width: 50%;
            }
        }
    }
    .six{
       
        >div{
          
            &:last-child{
               
                >div{         
                    &:nth-of-type(1){  
                        >div{
                            display: block;
                                >span{
                                    &:first-child{
                                        display: inline-block;
                                        width: 120px;
                                        border-bottom: 8px solid #67e0e1;
                                        margin-right: -5px;
                                    }
                                    &:last-child{
                                        width: 30%;
                                        margin-bottom: 7px;
                                        border-top: 0.5px solid gray;
                                        display: inline-block;
                                    }
                              
                                }
                        
                           
                        }
                    }
                    &:nth-of-type(2){
                        >div{
                            &:last-child{
                                >div{
                                    >p{
                                        width: 100%;
                                        text-align: center;
                                        align-self: center;
                                    }
                                }
                            }
                        }
                    }
                  
                }
               
            }
        }
    }
    .eight{
        >div{
            &:first-child{
                >div{
                    padding-right: 0px;
                }
            }
            &:last-child{
                >div{
                   padding: 8px 0px 0px 0px;
                    >div{
                        margin: 0px 0px 0px 5px;
                        >h2{
                            margin: 15px 0;
                            >span{
                                font-size: 260px;
                            }
                        }
                    }
                }
            }
        }
    }  
    .menu{
        >div{
         
            >div{
                padding: 30px 0 0 0;
                >div{
                    &:nth-of-type(1){  
                  
                    }
                    &:nth-of-type(2){
                        display: flex;
                        justify-content: flex-end;
                     
                      
                        >span{
                          
                            color: #67e0e1;
                            transform: rotate(90deg);
                            font-weight: 900;
                           font-size: 30px;
                           cursor: pointer;
                           transition: 0.4s;
                           &:hover{
                            color: #ffffff;
                           }
                        }  
                        >div{
                          
                            height: 100vh;
                            width: 30%;
                            background-color: #111111;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            top: 0;
                            right:-30%;
                            transition: 0.4s;
                            >div{
                                width: 100%;
                                display: flex;
                               justify-content: center;
                              
                               &:nth-of-type(1){
                                width: 100%;
                                display: flex;
                                justify-content: center;
                             
                                padding: 50px 0 50px 0;
                                >div{
                                    width: 80%;
                                    display: flex;
                                    justify-content: flex-end;
                                    >span{
                                        font-weight: 900;
                                        font-size: 26px;
                                        color: #898989;
                                        font-weight: 900;
                                        cursor: pointer;
                                        transition: 0.4s;
                                        &:hover{
                                            color: #ffffff;
                                        }
                                        }
                                }
                             
                               }
                                &:nth-of-type(2){
                                    display: flex;
                                    justify-content: center;
                                  
                                    // padding: 50px 0 0 60px;
                                    >div{
                                        display: flex;
                                        justify-content: flex-start;
                                        width: 40%;
                                        margin: 0px;
                                    
                                        >figure{
                                           width: 100%;
                                           height: 100%;
                                           display: flex;
                                           align-items: center;
                                           >img{
                                            width: 100%;
                                           }
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                            
                                   width: 100%;
                                    >div{
                                        width: 100%;
                                
                                        display: flex;
                                        justify-content: flex-start;
                                        padding: 50px 0 0 0px;
                                       >nav{
                                        width: 100%;
                                   
                                    
                                        >ul{
                                            width: 100%;
                                    
                                            padding-left: 0;
                                            >li{
                                                width: 100%;
                                            
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding: 10px 0 10px 0;
                                               padding-left: 0%;
                                                >a{
                                                hyphens: manual;   
                                                transition: 0.4s;
                                                width: 100%;
                                                font-family: "Playfair Display", Sans-serif;
                                                font-size: 20px;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                letter-spacing: 11px;
                                                align-self: center;
                                                text-align: center;
                                                color: #ffffff;
                                                cursor: pointer;
                                                &:hover{
                                                    color: #67e0e1;
                                                }
                                                }
                                            }
                                        }
                                       }
                                    }
                                    
                                }
                            }
                        }                 
                    }
                }
             }
        }
      
           
    }  

}
@media screen and (min-width:992px){
    .imgone{
        >div{
            >h1{
                font-size: 100px!important;
            }
        }
    }
    .six{
     
        >div{
            &:last-child{
                >div{   
                    &:nth-of-type(1){  
                        padding-left: 0px;
                        >div{
                            display: block;
                                >span{
                                    &:last-child{
                                        width: 70%;
                                    }
                              
                                }
                        
                           
                        }
                    }
                    &:nth-of-type(2){
                        padding-top: 30px;
                        width: 90%;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        >div{
                            display: flex;
                            flex-wrap: wrap;
                            &:first-child{
                                >p{     
                                    align-self: flex-start;
                                    text-align: start;
                                   
                                }
                            }
                            &:last-child{
                               display: flex;
                               flex-wrap: nowrap;
                               justify-content: flex-start;
                               >span{
                                width: 20%;
                               }
                                >div{
                                    justify-content: flex-start;
                                    padding: 8px 0 0 10px;
                                    flex-wrap: wrap;
                                    >p{  
                                  
                                       text-align: start;
                                       
                                       
                                    }
                                }
                              
                            }
                        }
                    }
                }
               
            }
        }
    }
    .eight{
        >div{
         
            &:last-child{
                >div{
                   padding: 8px 15px 0px 15px;
                    >div{
                        margin: 0px 0px 0px 20px;
                        >h2{
                            margin: 15px 0;
                            >span{
                                font-size: 300px;
                            }
                        }
                    }
                }
            }
        }
    } 
    .menu{
        >div{
         
            >div{
                padding: 30px 0 0 0;
                >div{
                    &:nth-of-type(1){  
                  
                    }
                    &:nth-of-type(2){
                        display: flex;
                        justify-content: flex-end;
                     
                      
                        >span{
                          
                            color: #67e0e1;
                            transform: rotate(90deg);
                            font-weight: 900;
                           font-size: 30px;
                           cursor: pointer;
                           transition: 0.4s;
                           &:hover{
                            color: #ffffff;
                           }
                        }  
                        >div{
                          
                            height: 100vh;
                            width: 30%;
                            background-color: #111111;
                            padding: 0;
                            margin: 0;
                            position: absolute;
                            position: fixed;
                            top: 0;
                            right:-30%;
                            transition: 0.4s;
                            >div{
                                width: 100%;
                                display: flex;
                               justify-content: center;
                              
                               &:nth-of-type(1){
                                width: 100%;
                                display: flex;
                                justify-content: center;
                             
                                padding: 50px 0 50px 0;
                                >div{
                                    width: 80%;
                                    display: flex;
                                    justify-content: flex-end;
                                    >span{
                                        font-weight: 900;
                                        font-size: 26px;
                                        color: #898989;
                                        font-weight: 900;
                                        cursor: pointer;
                                        transition: 0.4s;
                                        &:hover{
                                            color: #ffffff;
                                        }
                                        }
                                }
                             
                               }
                                &:nth-of-type(2){
                                    display: flex;
                                    justify-content: center;
                                  
                                    // padding: 50px 0 0 60px;
                                    >div{
                                        display: flex;
                                        justify-content: flex-start;
                                        width: 40%;
                                        margin: 0px;
                                    
                                        >figure{
                                           width: 100%;
                                           height: 100%;
                                           display: flex;
                                           align-items: center;
                                           >img{
                                            width: 100%;
                                           }
                                        }
                                    }
                                }
                                &:nth-of-type(3){
                            
                                   width: 100%;
                                    >div{
                                        width: 100%;
                                
                                        display: flex;
                                        justify-content: flex-start;
                                        padding: 50px 0 0 0px;
                                       >nav{
                                        width: 100%;
                                   
                                    
                                        >ul{
                                            width: 100%;
                                    
                                            padding-left: 0;
                                            >li{
                                                width: 100%;
                                            
                                                display: flex;
                                                flex-wrap: wrap;
                                                padding: 10px 0 10px 0;
                                               padding-left: 0%;
                                                >a{
                                                hyphens: manual;   
                                                transition: 0.4s;
                                                width: 100%;
                                                font-family: "Playfair Display", Sans-serif;
                                                font-size: 30px;
                                                font-weight: 700;
                                                text-transform: uppercase;
                                                letter-spacing: 11px;
                                                align-self: center;
                                                text-align: center;
                                                color: #ffffff;
                                                cursor: pointer;
                                                &:hover{
                                                    color: #67e0e1;
                                                }
                                                }
                                            }
                                        }
                                       }
                                    }
                                    
                                }
                            }
                        }                 
                    }
                }
             }
        }
      
           
    }  
    .four{
        >div{
            >figure{
                padding: 0px 15px 15px 15px;
                &:hover:after{
                    height: 50%;
                    width: 92%;
                    right: 0%;
                    left: 4%;
                }
              
            }
           
        }
    }
    }
   
    

// End tablet scope....

@media screen and (min-width:1200px){
    .imgone{
        >div{
            >h1{
                font-size: 130px !important;
            }
        }
    }
    .four{
        >div{
            width: 33.333%;
            >figure{
                padding: 0px 15px 15px 15px;
                &:hover:after{
                    height: 52%;
                    width: 93%;
                    right: 0%;
                    left: 4%;
                }
                >img{
                    width:100%;
                }
            }
           
        }
    }
    }

// End Desktop scope....

@media screen and (min-width:1400px){
    
}